
body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: auto 1fr  1fr 4fr auto;
    /* font-family: Montserrat; */
    font-family:'Fredoka One', cursive;
    -webkit-font-smoothing: antialiased;
    background-color: antiquewhite;
    color: antiquewhite;
}

.main-title {
    font-size: 2.7rem;
    color: #9a0007;
    grid-column: 2 / span 3;
    grid-row: 1;
    text-align: center;
}

.page-content {
    font-size: 1.25rem;
    grid-column: 1 / 6;
    grid-row: 2/ 5;
}

.page-content .bench {
    grid-column: 1/6;
    grid-row: 2;
    background-color: #6d6d6d;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 50px;
    border-radius: 25px;
    transition: border-color 150ms;
}

.page-content .bench .login-link {
   grid-column: 3/3;
   font-size: 2rem;
   text-decoration: none;
   text-align: center;
   color: antiquewhite;

}

.page-content .bench .login-link:hover {
   text-decoration: underline;
   color: #001970;
}

.page-content .bench .breadcrumbs {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
}

.page-content .nav-links {
    text-align: center;
    font-size: 1.8rem;
    grid-column: 2/2;
    grid-row: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-content .nav-links ::before {
    content: '';
    left: 0;
    top: -18px;
    height: 4px;
    width: 0;
    background-color: blue;
    z-index: 2;
    transition: top 0.2s;
}

.page-content .nav-links::after {
    content: '';
    left: 0;
    top: -18px;
    height: 4px;
    width: 0;
    transition: width 0.25s, top 0.2s;
    /* background-color: #c1c1c1; */
    background-color: red;
    z-index: 1;
}

.page-content .nav-links a {
    text-decoration: none;
    font-size: 2.5rem;
    color: antiquewhite;
}

.page-content .nav-links .home-link {
    grid-column: 1 ;
    grid-row: 1;
}

.page-content .nav-links .stations-link {
    grid-column:2;
    grid-row: 1;

}

.page-content .nav-links .about-link {
    grid-column: 3;
    grid-row: 1;

}

.page-content .nav-links a:hover {
    color:#001970;
    text-decoration:  overline  ;
}


.page-content .last-event {
    grid-column: 3 / 3;
    grid-row: 4 /4 ;
    font-size: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #1b1b1b;
}

.page-content .last-event p {
    grid-column: 2;
    text-align: center;
}


.page-content .index-photo-galery {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 40fr 1fr;
}

.page-content .index-photo-galery .mphoto {
    grid-column: 2;
    grid-row: 2;
}

.page-content .index-photo-galery .index-left-container {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns:1fr 1fr auto ;
}

.page-content .index-photo-galery .index-left-container .arrow-left {
    width: 3rem;
    height: 3rem;
    grid-row: 2/2;
    grid-column: 3/3;
}

.page-content .index-photo-galery .index-rigth-container {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

.page-content .index-photo-galery .index-rigth-container .arrow-rigth {
    grid-row: 2/2;
    width: 3rem;
    height: 3rem;
}

footer {
    grid-column: 1/6;
    grid-row: 6/6;
    background-color:#F4F4F4;
    color:#8B8B8B;
    text-align: center;
    opacity: 1;
}

.reserved {
    font-size: 15px;
    color:lightgray;
    text-align: center;
    grid-column: 3 / 3;
    grid-row: 6 / 6;
}

/* Login page */

.page-content .login-container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

.page-content .login-container .please {
    text-align: center;
    font-size:2.8rem;
    grid-row: 1/1;
    grid-column: 2/2;
    color: #1b1b1b;
}

.page-content .login-container .login-form {
    color: #1b1b1b;
    text-align: center;
    font-size: 2.3rem;
    grid-row: 2/2;
    grid-column: 2/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;

}

.page-content .login-form .label-login {
    grid-column: 1/1;
    grid-row: 1/1;
    height: 2rem;
}

.page-content .login-form .login-box {
    grid-column: 2/2;
    grid-row: 1/1;
    font-size: 2rem;
}

.page-content .login-form .label-pass {
    grid-column: 1/1;
    grid-row: 3/3;
}

.page-content .login-form .pass-box {
    grid-column: 2/2;
    grid-row: 3/3;
    font-size: 2rem;
}

.page-content .login-form .sub-btn {
    grid-column: 2/2;
    grid-row: 5/5;
    font-size: 2rem;
    background-color:#8B8B8B;
    color: antiquewhite;
    color: antiquewhite;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content .login-form .sub-btn:hover {
    background-color:#8B8B8B;
    color: #9a0007;
}

.page-content .login-container .noacc {
    text-align: right;
    color: #1b1b1b;
    grid-column: 3/3;
    grid-row: 3/3;
    font-size: 1.2rem;
}

.page-content .login-container .noacc a {
    color: #9a0007;
    text-decoration: none;
}

.page-content .login-container .noacc a:hover {
    color: #9a0007;
    text-decoration: overline #001970 ;
}

/* Register  */

.page-content .register-form-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr ;
    grid-template-rows: 1fr auto 1fr ;
    color: #1b1b1b;
}

.page-content .register-form-container .please {
    grid-row: 1/1;
    grid-column: 2/2;
    font-size: 3rem;
    text-align: center;
}

.page-content .register-form {
    text-align: center;
    font-size: 2.2rem;
    grid-row: 2/2;
    grid-column: 2/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.page-content .register-form .label-login {
    grid-column: 1/1;
    grid-row: 1/1;
}

.page-content .register-form .login-box {
    grid-column: 2/2;
    grid-row: 1/1;
    font-size: 30px;
}

.page-content .register-form .label-pass {
    grid-column: 1/1;
    grid-row: 3/3;
}

.page-content .register-form .pass-box {
    grid-column: 2/2;
    grid-row: 3/3;
    font-size: 30px;
}

.page-content .register-form .passre-box {
    grid-column: 2/2;
    grid-row: 5/5;
    font-size: 30px;
}

.page-content .register-form .label-passre {
    grid-column: 1/1;
    grid-row: 5/5;
}

.page-content .register-form .label-email {
    grid-column: 4/4;
    grid-row: 1/1;
}

.page-content .register-form .email-box {
    grid-column: 5/5;
    grid-row: 1/1;
    font-size: 30px;
}
.page-content .register-form .label-fname {
    grid-column: 4/4;
    grid-row: 3/3;
}

.page-content .register-form .fname-box {
    grid-column: 5/5;
    grid-row: 3/3;
    font-size: 30px;
}
.page-content .register-form .label-lname {
    grid-column: 4/4;
    grid-row: 5/5;
}

.page-content .register-form .lname-box {
    grid-column: 5/5;
    grid-row: 5/5;
    font-size: 30px;
}

.page-content .register-form .sub-btn {
    grid-column: 3/3;
    grid-row: 7/7;
    font-size: 30px;
    background-color:#8B8B8B;
    color: antiquewhite;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;

}

.page-content .register-form .sub-btn:hover {
    background-color:#8B8B8B;
    color: #9a0007;
}

/* Main */

.page-content .main-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}

.page-content .main-buttons {
    text-align: center;
    font-size: 4rem;
    grid-row: 2/2;
    grid-column: 2/2;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;

}

.page-content .main-buttons .lsessions {
    font-size: 100px;
    grid-column: 2/2;
    background-color:#8B8B8B;
    color: antiquewhite;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content .main-buttons .csessions {
    font-size: 100px;
    grid-column: 4/4;
    background-color:#8B8B8B;
    color: antiquewhite;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content .main-buttons .csessions:hover,
.page-content .main-buttons .lsessions:hover {
    background-color:#8B8B8B;
    color: #9a0007;
}

/* Prices */

.page-content .pr-table {
    text-align: center;
    font-size: 4.5rem;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
}

.page-content .pr-table table {
    grid-row: 2/2;
    grid-column: 2/2;
    background-color: #6d6d6d;
}

.page-content .pr-table th, td {
    border: 1px solid #001970;
}

.page-content .pr-table th {
    background-color: #1b1b1b;
}

/* About us  */

.page-content .about-info {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

.page-content .about-info .about-container {
    text-align: center;
    font-size: 1.7rem;
    grid-row: 2/2;
    grid-column: 2/2;
    display: grid;
    background-color:#1b1b1b;
    border-radius: 20px;
    grid-template-columns:1fr auto auto auto auto 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.page-content .about-info .about-container .info-label {
    text-decoration:underline #9a0007;
    text-align: left;
}

.page-content .about-info .about-container .info-value {
    border: #424242 1px solid;
}

.page-content .about-info .au-hours {
    grid-column: 2/2;
    grid-row: 2/2;
}

.page-content .about-info .au-street {
    grid-column: 4/4;
    grid-row: 2/2;
}

.page-content .about-info .au-street-value {
    grid-column: 5/5;
    grid-row: 2/2;
}

.page-content .about-info .au-city {
    grid-column: 4/4;
    grid-row: 3/3;
}

.page-content .about-info .au-city-value {
    grid-column: 5/5;
    grid-row: 3/3;
}

.page-content .about-info .au-zip {
    grid-column: 4/4;
    grid-row: 4/4;
}
.page-content .about-info .au-zip-value {
    grid-column: 5/5;
    grid-row: 4/4;
}
.page-content .about-info .au-mon {
    grid-column: 2/2;
    grid-row: 3/3;
}
.page-content .about-info .au-sat {
    grid-column: 2/2;
    grid-row: 4/4;
}

.page-content .about-info .au-phone {
    grid-column: 2/2;
    grid-row: 6/6;
}
.page-content .about-info .au-phone-value {
    grid-column: 3/3;
    grid-row: 6/6;
}

.page-content .about-info .au-email {
    grid-column: 2/2;
    grid-row: 7/7;
}

.page-content .about-info .au-email-value {
    grid-column: 3/3;
    grid-row: 7/7;
}

/* Avaliable stations */
.page-content .calen {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 3rem 4fr 1fr;
}

.month {
    padding: 70px 25px;
    width: 80vw;
    background:#1b1b1b;
    text-align: center;
    grid-column: 2/2;
    grid-row: 2/2;
  }
  
  /* Month list */
  .month ul {
    margin: 0;
    padding: 0;
    grid-column: 2/2;
    grid-row: 2/2;
  }
  
  .month ul li {
    color: antiquewhite;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    grid-row: 2/2;
  }
  
  /* Previous button inside month header */
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  /* Next button */
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  /* Weekdays (Mon-Sun) */
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#424242;
    grid-column: 2/2;
    grid-row: 3/3;
  }

  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: antiquewhite;
    text-align: center;
  }

  /* Days (1-31) */
  .days {
    padding: 10px 0;
    background: #1b1b1b;
    margin: 0;
    grid-column: 2/2;
    grid-row: 4/4;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:2rem;
    color: antiquewhite;
  }

  /* Highlight the "current" day */
  .days li .active {
    padding: 5px;
    background: #9a0007;
    color: white !important
  }

  /* view records */

  .page-content .view-records-table {
      display: grid;
      grid-template-columns: 1fr 7fr 1fr 1fr;
      grid-template-rows: 1fr 8fr 1fr;
  }

  .page-content .view-records-nav {
      grid-column: 3/3;
      grid-row: 3/3;
  }