doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Fredoka+One&display=swap' rel="stylesheet")
  body
    block content
    block footer
      footer
        p Created by: s16540
        p
          | Contact information:
          a(href='mailto:s16540@pjwstk.edu.pl')
            | s16540@pjwstk.edu.pl
          | .
