<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Command Center</title>
</head>

<body>
    <div class="main-title">
        <h1>Command Center</h1>
    </div>
    <div class="page-content">
        <div class="bench">
            <div class="nav-links">
                <ul>
                    <li><a class="home-link" href="prices.html">Prices</a></li>
                    <li><a class="stations-link" href="astations.html">Avaliable stations</a></li>
                    <li><a class="about-link" href="aboutus.html">About us</a></li>
                </ul>
            </div>
        </div>
        <div class="login-container">
            <div class="spacer"></div>
            <form class="login-form" method="GET">
                <label for="login-in" class="label-login">Login</label>
                <input id="login-in" class="login-box" type="text"></br>
                <label for="password-in" class="label-pass">Password</label>
                <input id="password-in" type="password" class="pass-box"></br>
                <a class="sub-btn" type="submit" value="Ok" href="main.html">OK</a>
            </form>
            <p class="noacc"> Don't have account yet? Register <a href="register.html">here</a></p>
        </div>
        <div class="spacer"></div>
        <footer>
            <p>Created by: s16540</p>
            <p>
                Contact information: <a href="mailto:s16540@pjwstk.edu.pl">
                    s16540@pjwstk.edu.pl</a>.
            </p>
        </footer>
    </div>
</body>

</html>